.Carousel {
	position: relative;
	margin: 0;
}

.ImageSlide {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.ArrowLeft {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.ArrowRight {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

