.Image {
    width: 100vw;
}


/*
.Image {
    display: flex; 
    position: relative; 
    justify-content: center;
    align-items: center; 
    overflow: hidden; 
    max-width: 25vw; 
    transition: background-image .3s ease-in-out;
} 
*/
