.RowGrid {
    display: grid;
    grid-template-rows: 7vh 93vh;
}

.NavBar {
    display: grid; 
    width: 100vw; 
    grid-template-columns: 13vw 47vw 40vw;
    height: 7vh; 
    background-color: white; /* black; */
    color: black; /* whitesmoke; */
}

.MenuIcon {
    align-self: center;
    height: 7vh; /* 100%; */
}

.Button {
    align-self: center;
    box-shadow: inset 0vw 0.2vw 0vw 0vw #bbdaf7;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color:#79bbff;
    border-radius: 1.2vw;
    border: 0.2vw solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color:whitesmoke;
    font-family: 'Roboto';
    font-size: 3.9vw;
    font-weight: bold;
    height: 6vh;
    width: 39vw;
    text-decoration: none;
    text-shadow: 0vw 0.2vw 0vw #528ecc;
}
  
.Button:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color:#378de5;
}

.Button:active {
    position:relative;
    top:0.2vw;
}

.ImageContainer {
    display: flex; 
    justify-content: center;
    align-items: center; 
    overflow: hidden; 
    height: 93vh; 
    align-self: center; 
}

.CompositeImage {
    position: relative;
}

.Image {    
    filter: opacity(80%); 
    height: 93vh; 
}

.LogoAndTagLine {
    position: absolute; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Logo {
    max-width: 70%; 
    align-self: center;
}

.Content {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    color: whitesmoke;
    font-size: 8vw;
    font-family: 'Roboto', serif;
    text-shadow: rgba(0,0,0,0.6) 1px 1px 5px;
    letter-spacing: -0.3px;
    align-self: center;
    max-width: 100vw;
}

/* 
https://stackoverflow.com/questions/12469875/how-to-code-css-media-queries-targeting-all-mobile-devices-and-tablets/42835826#42835826 
*/
/* CSS for mobile devices */
/* Doesn't work for iPad Pro */
@media (pointer:coarse) {

}    

/* CSS for non-mobile devices */
/*
.ImageContainer {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.CompositeImage {
    position: relative;
}

.Image {    
    filter: opacity(80%); 
    width: 100%;
}

.LogoAndTagLine {
    position: absolute; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Logo {
    max-width: 70%; 
    align-self: center;
}

.Content {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    color: whitesmoke;
    font-size: 5vw;
    font-family: 'Playfair Display', serif;
    text-shadow: rgba(0,0,0,0.6) 1px 1px 5px;
    letter-spacing: -0.3px;
    align-self: center;
}
*/


